@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: white;
  --main-font: 'Noto Sans';
  --main-color: rgb(67, 66, 66);
  --main-left-margin: 38px;
  --invalid-color: rgb(206, 9, 9);
}

/* Global reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: flex-end;
  position: relative;
  min-height: 100vh;
  background: no-repeat center/100% url(./img/login-background.png);
  background-size: cover;
}

/* Header Styles */
header {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 125px;
  left: 0px;
  top: 23%;
  align-items: center;
  background-color: rgb(41, 38, 38); 
  z-index: 1;
  gap: 1.2rem;
  background: linear-gradient(rgba(26, 26, 26, 0.5), rgba(7, 7, 7, 0.5));
  padding-left: 12%;
}

#logo {
  width: 100px;
}

header > div {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6rem;
  color: var(--white);
}

/* Main styles */
main {
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
  width: 50%;
  background-color: rgb(254, 254, 254);
  justify-content: center;
  gap: 2rem;
  padding-bottom: 173px;
  box-shadow: -10px 0px 10px -10px black;
}

.main-header {
  font-size: 1.3rem;
  max-inline-size: 60ch;
  margin-left: var(--main-left-margin);
  font-family: var(--main-font);
  font-weight: 700;
}

.main-header p:last-child > span {
  font-style: italic;
}

.main-header > p {
  margin: 38px 38px 38px 0px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 5px 7px 25px -19px black;
  padding: 20px 38px;
  height: 300px;
}

form label {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 0.7rem;
  color: var(--main-color);
  margin-bottom: 2px;
  cursor: pointer;
}

input {
  padding: 6px;
  width: 90%;
  height: 32px;
  border: 1px solid #E5E7EB;
  padding: 10px 13px;
  border-radius: 4px;
  font-family: var(--main-font);
  font-size: 1rem;
}

input:focus { 
  outline: none;
  box-shadow: 2px 2px 5px -2px black;
  border: 1px solid blue;
}

input[type="password"]:invalid {
  border: 1px solid var(--invalid-color);
}

#password:invalid + p::after {
  content: "* Passwords do not match";
  color: var(--invalid-color);
  font-size: 0.7rem;
}

.top-section {
  font-family: var(--main-font);
  color: var(--main-color);
  font-weight: bolder;
}

.bot-section {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.bot-section > div {
  display: flex;
  flex-direction: column;
  flex: 1 1 35%;
  margin-top: 20px;
  height: 54px;
}

/* Main footer style */

#footer-section {
  margin-top: 70px;
}

#submit-btn {
  background-color: #508D4E;
  border: 1px solid transparent;
  border-radius: 8px;
  width: 220px;
  height: 48px;
  font-weight: bolder;
  color: var(--white);
  cursor: pointer;
}

#submit-btn:hover {
  background-color: #3e5e3d;
}

#footer-section p {
  margin-top: 1.5rem;
}

#footer-section > p {
  font-family: var(--main-font);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #508D4E;;
}

a:hover {
  color: #2e402e;
}

/* Media queries */

@media (max-width: 1580px) {
  
}

/* For a responsive header */

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  header {
    padding-left: 9%;
  }
}

@media (max-width: 1400px) {
  header {
    padding-left: 9%;
  }
}

@media only screen and (min-width: 1290px) and (max-width: 1400px) {
  header {
    padding-left: 7%;
  }
}


@media (max-width: 1290px) {
  header {
    padding-left: 5%;
  }
}

/* For a responsive form/main */

@media (max-width: 1200px) {
  body {
    justify-content: center;
  }

  header {
    display: none;
  }

  main {
    border-radius: 8px;
  }

  .main-header {
    font-size: 0.9rem;
  }

  form {
    border-radius: 8px;
    height: 520px;
  }

  input {
    width: 100%;
  }

  .bot-section {
    width: 100%;
  }

  .bot-section > div{
    margin-right: 0px;
    flex: 1 1 100%;
  }

  #footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 638px) {
  #submit-btn {
    width: 100%;
    font-size: 0.7rem;
  }

  #footer-section > p {
    font-size: 0.7rem;
  }
}

@media (max-width: 524px) {
  #footer-section {
    margin-top: 50px;
  }
}

@media (max-width: 391px) {
  #footer-section {
    margin-top: 30px;
  }
}

@media (max-width: 388px) {
  form {
    height: 540px;
  }

  #footer-section {
    margin-top: 45px;
  }
}

@media (max-width: 338px) {
  form {
    height: 560px;
  }
}