@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: white;
  --main-font: 'Noto Sans';
  --main-color: rgb(67, 66, 66);
  --main-left-margin: 38px;
}

/* Global reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: flex-end;
  position: relative;
  min-height: 100vh;
  background: no-repeat center/100% url(./img/cat-bg.jpg);
}

/* Header Styles */
header {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 110px;
  left: 0px;
  top: 23%;
  align-items: center;
  background-color: rgb(41, 38, 38); 
  z-index: -1;
  gap: 1rem;
  background: linear-gradient(rgba(26, 26, 26, 0.5), rgba(7, 7, 7, 0.5));
}

header > img {
  width: 100px;
  height: auto;
  margin-left: 15%;
}

header > div {
  font-family: "Abril Fatface", serif;
  font-size: 3.6rem;
  color: var(--white);
}

/* Main styles */
main {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: rgb(254, 254, 254);
  justify-content: center;
  gap: 2rem;
}

.main-header {
  font-size: 1.3rem;
  max-inline-size: 60ch;
  margin-left: var(--main-left-margin);
  font-family: var(--main-font);
  font-weight: 700;
}

.main-header p:last-child > span {
  font-style: italic;
}

.main-header > p {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 5px 7px 25px -19px black;
  padding: 20px 38px;
  height: 300px;
}

form label {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 0.7rem;
  color: var(--main-color);
  margin-bottom: 2px;
  cursor: pointer;
}

input {
  width: 240px;
  height: 32px;
  border: 1px solid #E5E7EB;
  border-radius: 6px;
}

.top-section {
  font-family: var(--main-font);
  color: var(--main-color);
  font-weight: bolder;
}

.bot-section {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.bot-section > div {
  display: flex;
  flex-direction: column;
  flex: 1 1 35%;
  margin-right: 20px;
  margin-top: 20px;
  height: 54px;
}


/* Main footer style */

#footer-section > button,
#footer-section > p {
  margin-left: var(--main-left-margin);
}

button[type="submit"] {
  background-color: rgb(255, 139, 97);
  border: 1px solid transparent;
  border-radius: 8px;
  width: 220px;
  height: 48px;
  font-weight: bolder;
  color: var(--white);
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(215, 109, 70);
}

#footer-section p {
  margin-top: 1.5rem;
}

#footer-section > p {
  font-family: var(--main-font);
}

#footer-section p:last-child > a{
  text-decoration: none;
  color: coral;
}

#footer-section p:last-child > a:hover {
  color: rgb(215, 109, 70);
}